apiVersion: v1
kind: Secret
metadata:
  name: miniflux-secrets
  namespace: personal
type: Opaque
stringData:
  postgres-password: "${MINIFLUX_POSTGRES_PASSWORD}"
  database-url: "postgres://miniflux:${MINIFLUX_POSTGRES_PASSWORD}@miniflux-postgres/miniflux?sslmode=disable"
  admin-password: "${MINIFLUX_ADMIN_PASSWORD}"
