apiVersion: v1
kind: Secret
metadata:
  name: miniflux-secrets
  namespace: personal
type: Opaque
stringData:
  postgres-password: "your-postgres-password"
  database-url: "postgres://miniflux:your-postgres-password@miniflux-postgres/miniflux?sslmode=disable"
  admin-password: "your-admin-password"
