services:
  n8n:
    image: docker.n8n.io/n8nio/n8n
    container_name: n8n
    restart: always
    ports:
      - "5678:5678"

    environment:
      - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
      - N8N_PORT=5678
      - N8N_PROTOCOL=https
      - NODE_ENV=production
      - WEBHOOK_URL=https://${SUBDOMAIN}.${DOMAIN_NAME}/
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
      - TZ=${TZ}
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - N8N_LICENSE_AUTO_RENEW_ENABLED=true
      - N8N_DIAGNOSTICS_ENABLED=false
      - N8N_PERSONALIZATION_ENABLED=false
      - N8N_METRICS=false
      - N8N_FEATURE_FLAGS_ENABLED=false
      - N8N_LOG_LEVEL=info

    volumes:
      - ${N8N_DATA_PATH}:/home/node/.n8n
      - ${N8N_FILES_PATH}:/files
