apiVersion: v1
kind: Secret
metadata:
  name: actual-budget-sync-secret
  namespace: personal
type: Opaque
stringData:
  ACTUAL_SYNC_ID: "${ACTUAL_SYNC_ID}"
  ACTUAL_PASSWORD: "${ACTUAL_PASSWORD}"
  UP_USER_TOKEN: "${UP_USER_TOKEN}"
