apiVersion: v1
kind: Secret
metadata:
  name: grafana-admin
  namespace: infra
type: Opaque
stringData:
  admin-password: ${GRAFANA_ADMIN_PASSWORD}
  oauth-client-id: ${GRAFANA_OAUTH_CLIENT_ID}
  oauth-client-secret: ${GRAFANA_OAUTH_CLIENT_SECRET}
  oauth-base-url: ${AUTHENTIK_BASE_URL}
  root-url: ${GRAFANA_ROOT_URL}
  ntfy-admin-token: ${NTFY_ADMIN_TOKEN}
  ntfy-ip: ${NTFY_IP}
  renderer-token: ${GRAFANA_RENDERER_TOKEN}
