apiVersion: v1
kind: PersistentVolume
metadata:
  name: grafana-data-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: ${NFS_SERVER_IP}
    path: ${NFS_GRAFANA_PATH}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: grafana-data-pvc
  namespace: infra
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: ""
  volumeName: grafana-data-pv
  resources:
    requests:
      storage: 5Gi
