apiVersion: v1
kind: PersistentVolume
metadata:
  name: loki-data-pv
spec:
  capacity:
    storage: 100Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: ${NFS_SERVER_IP}
    path: ${NFS_LOKI_PATH}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: loki-data-pvc
  namespace: infra
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: ""
  volumeName: loki-data-pv
  resources:
    requests:
      storage: 100Gi
