apiVersion: v1
kind: Service
metadata:
  name: syslog-ng
  namespace: infra
spec:
  type: ClusterIP
  ports:
    - name: syslog
      port: 1514
      targetPort: 1514
      protocol: UDP
  selector:
    app: syslog-ng
