services:
  uptime-kuma:
    image: louislam/uptime-kuma:2
    container_name: uptime-kuma
    restart: always
    ports:
      - "3001:3001"
    volumes:
      - ${UPTIME_KUMA_DATA_PATH}:/app/data
    environment:
      - TZ=Australia/Sydney
