apiVersion: v1
kind: Secret
metadata:
  name: semaphore-secrets
  namespace: infra
type: Opaque
stringData:
  db-password: ${SEMAPHORE_DB_PASSWORD}
  admin-password: ${SEMAPHORE_ADMIN_PASSWORD}
  admin-email: ${SEMAPHORE_ADMIN_EMAIL}
  access-key-encryption: ${SEMAPHORE_ACCESS_KEY_ENCRYPTION}
  cookie-hash: ${SEMAPHORE_COOKIE_HASH}
  cookie-encryption: ${SEMAPHORE_COOKIE_ENCRYPTION}
  totp-secret: ${SEMAPHORE_TOTP_SECRET}
