apiVersion: v1
kind: Secret
metadata:
  name: karakeep-secrets
  namespace: personal
type: Opaque
stringData:
  APP_SECRET_KEY: "${KARAKEEP_APP_SECRET_KEY}"
  NEXTAUTH_SECRET: "${KARAKEEP_NEXTAUTH_SECRET}"
  SMTP_PASSWORD: "${KARAKEEP_SMTP_PASSWORD}"
  OLLAMA_BASE_URL: "${OLLAMA_BASE_URL}"
  INFERENCE_TEXT_MODEL: gemma3:12b
