apiVersion: v1
kind: Secret
metadata:
  name: karakeep-secrets
  namespace: personal
type: Opaque
stringData:
  APP_SECRET_KEY: "ABCDEF123"
  NEXTAUTH_SECRET: "****************706516389cfcf70db********5d84213680****b68****17"
  SMTP_PASSWORD: ""
  OLLAMA_BASE_URL: "https://ai.yourdomain.xyz"
  INFERENCE_TEXT_MODEL: gemma3:12b
