# Rename this file and modify this to use
# cp paperless-secret.yaml.example paperless-secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: paperless-secrets
  namespace: personal
type: Opaque
stringData:
  POSTGRES_DB: paperless
  POSTGRES_USER: paperless
  POSTGRES_PASSWORD: changeme
  PAPERLESS_SECRET_KEY: changeme
  PAPERLESS_ADMIN_USER: admin
  PAPERLESS_ADMIN_PASSWORD: changeme
