name: immich

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:${IMMICH_VERSION:-release}

    volumes:
      # === YOUR REAL MEDIA (sacred) ===
      - ${UPLOAD_LOCATION}:/usr/src/app/upload

      # === System caches ===
      - ${IMMICH_THUMBS_PATH}:/usr/src/app/upload/thumbs

      - /etc/localtime:/etc/localtime:ro

      # === External Media ===
      - ${EXTERNAL_LIBRARY}:/external/photos:ro

    env_file:
      - .env

    ports:
      - "2283:2283"

    depends_on:
      - redis
      - database
      - immich-machine-learning

    restart: always

    healthcheck:
      disable: false


  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:${IMMICH_VERSION:-release}-cuda

    extends:
      file: hwaccel.yml
      service: cuda

    volumes:
      - ${IMMICH_MODEL_CACHE_PATH}:/cache

    env_file:
      - .env

    restart: always

    healthcheck:
      disable: false


  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8-bookworm

    healthcheck:
      test: redis-cli ping || exit 1

    restart: always


  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0

    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_DB: ${DB_DATABASE_NAME}
      POSTGRES_INITDB_ARGS: '--data-checksums'

    volumes:
      # === MUST be local disk (not NFS) ===
      - ${DB_DATA_LOCATION}:/var/lib/postgresql/data

    shm_size: 128mb

    restart: always


volumes:
  model-cache:
